.styled {
        background-color: #282c34;
        font-size: calc(10px + 2vmin);
        color: white;
  }
  .ticket-box {
      border: 1px solid #ccc;
      padding: 20px;
      margin-top: 20px;
    }
    