.styled {
        background-color: #282c34;
        display: Fill;
        font-size: calc(10px + 2vmin);
        color: white;
  }
  
.page-container {
      flex: 0;
      display: fill;
      align-items: stretch;
}
