/* styles.css */

.styledUL {
    background-color: #282c34;
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
  }
  
  .layouts {
    width: 200px;
    font-size: small;
    margin-bottom: 10px;
    color: white;
  }
  
  .layouts:last-child {
    margin-bottom: 0;
  }
  